<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Web MVC Thymeleaf Hello World Example</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" >ORDER CRAFT</a>&nbsp;&nbsp;
    <a th:href="@{/customer/showForm}" style="text-decoration: none;">Ajouter Client</a>&nbsp;&nbsp;
    <a th:href="@{/customer/showFormArticle}" style="text-decoration: none;">Ajouter Article</a>&nbsp;&nbsp;
    <a th:href="@{/customer/list}" style="text-decoration: none;">Ajouter Commande</a>&nbsp;&nbsp;
    <a th:href="@{/customer/search}" style="text-decoration: none;">La liste des clients</a>&nbsp;&nbsp;
    <a th:href="@{/customer/searchArticle}" style="text-decoration: none;">La liste des articles</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Command Form</h1>
       <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Client</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ORDER CRAFT
    <a th:href="@{/customer/showForm}">Ajouter Client</a>
    <a th:href="@{/customer/showFormArticle}">Ajouter Article</a>
</nav>
    <h2>Formulaire Commande</h2>
    <label>***Id du client:</label>   
    <h4 th:text="${customer.id}"></h4>
    <label>***Nom du client</label>
    <h4 th:text="${customer.lastName}"></h4>
    <label>***Prenom du client</label>
    <h4 th:text="${customer.firstName}"></h4>
           

    <form th:action="@{/customer/saveCommand}" th:object="${commande}" method="post">
         <input type="hidden" th:field="*{id}">
         <input type="hidden" th:field="*{customer.id}">    
          <input type="hidden" th:field="*{customer.firstName}">  
           <input type="hidden" th:field="*{customer.lastName}">  
        <label for="dateCmd">Date de creation:</label>
        <input type="date" th:field="*{dateCmd}">    
         
        <br>
        <label for="state" >Status :</label>
        <!-- input type="text" th:field="*{state}"-->       
        <button type="submit">Enregistrer</button>
    </form>
    <a th:href="@{/customer/search}">Retour à la liste des clients</a>
        




       
    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>