<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Web MVC Thymeleaf Hello World Example</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ORDER CRAFT</a>&nbsp;&nbsp;
    <a th:href="@{/customer/showForm}">Ajouter Client</a>&nbsp;&nbsp;
    <a th:href="@{/customer/showFormArticle}">Ajouter Article</a>&nbsp;&nbsp;
    <a th:href="@{/customer/list}">Ajouter Commande</a>&nbsp;&nbsp;
    <a th:href="@{/customer/search}">La liste des clients</a>&nbsp;&nbsp;
    <a th:href="@{/customer/searchArticle}">La liste des articles</a>
</nav>s

<main role="main" class="container">

    <div class="starter-template">
        <h1>Customer Form</h1>
       <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire CommandArticle</title>
</head>
<body>
    
    <h2>Formulaire CommandArticle</h2>
     <h4 th:text="${command.customer.id}">: Id client</h4>
    <h4 th:text="${command.customer.lastName}">: le nom du client</h4>
    <h4 th:text="${command.customer.firstName}">: le prenom du client</h4>
    
    <h4 th:text="${command.id}">: Id commande</h4>
    <h4 th:text="${command.dateCmd}">: date de creation</h4>
    <h4 th:text="${command.state}">: status</h4>
           

    <form th:action="@{/commande/saveCommandArticle}" th:object="${commandArticle}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="quantite">Quantite :</label>
        <input type="text" th:field="*{quantite}">
        <br>
        <label for="id">Article :</label>
        <input type="text" th:field="*{id}">
       
        <button type="submit">Enregistrer</button>
    </form>

    <a th:href="@{/welcome}">Retour à la liste des clients</a>
        




       
    </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>